Cython==0.21.1
GDAL==1.11.1
Jinja2==2.7.3
MarkupSafe==0.23
MicrosoftNgram==1.03
MySQL-python==1.2.5
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.8
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
blist==1.3.6
cassandra-driver==2.1.2
certifi==14.05.14
futures==2.2.0
gnureadline==6.3.3
h5py==2.3.1
ipython==2.3.0
matplotlib==1.4.2
mock==1.0.1
mysql-connector-python==2.0.1
nose==1.3.4
numpy==1.9.1
ordereddict==1.1
pandas==0.15.1
plotly==1.6.6
py4j==0.8.2.1
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
pyzmq==14.3.1
requests==2.5.1
scipy==0.15.0
simplejson==3.6.5
six==1.9.0
stevedore==1.0.0
tornado==4.0.2
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
